.app-pages {
  background-color: #fff;
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    .fp-overflow {
      img{
        box-shadow: 0px 1px 9px 3px #d1cece87;
      }
    }
    .main {
      height: 100vh;
      width: 100vw;
      padding: 40px;
      padding-top: 10px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      .desc {
        height: 40px;
        width: 180px;
        background-color: #4e61d4;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 12px;
        margin-bottom: 10px;
        a{
          color:#fff;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
      img {
        width: 100%;
        height: calc(100% - 40px);
      }
    }
  }
}
.beian{
  position: absolute;
  padding: 4px 8px;
  background-color: #4e61d4;
  color: #fff;
  font-size: 12px;
  bottom: 6px;
  right: 40px;
  border-radius: 4px;
}

// 宽度 小于 500
@media (max-width: 500px) {
  .app-pages{
    .main {
      .desc{
        height: 30px !important;
      }
      img {
        width: auto !important;
        height: calc(100% - 300px) !important;
        position: relative;
        transform: rotate(90deg);
        top: 125px;
        
      }
    }
  }
  // .beian{
  //   right: 60px;
  // }
}

