.app-pages {
  background-color: #fff;
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    .fp-overflow {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .carousel-page {
      border: 1px solid #eee;
    }
    .yld-carousel-legend {
      border-bottom: 1px solid #eee;
    }
    .main {
      height: 50vh;
      width: 50vw;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        opacity: 0.8;
      }
      .desc {
        height: 40px;
        width: 180px;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4e61d4;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 12px;
        margin-bottom: 10px;
        a {
          color: #fff;
          display: flex;
          align-items: center;
        }
      }
      img {
        width: auto;
        height: 50vh;
      }
    }
  }
  .app-advance {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 50vw;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100px;
      height: 100px;
      cursor: pointer;
      transition: 0.5s;
      opacity: 0.8;
      border-radius: 4px;
      img {
        border-radius: 50%;
      }
      &:hover {
        transition: 0.5s;
        background-color: #807d7d75;
        opacity: 1;
      }
      span {
        padding: 4px;
        font-size: 12px;
        margin-top: 12px;
        color: #111;
        font-weight: 500;
        width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}

// 宽度 小于 500
@media (max-width: 500px) {
  .app-pages {
    .main {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  .app-advance {
    overflow: hidden;
    width: 90vw !important;
    &-item {
      width: 100px !important;
      height: 100px !important;
      span {
        display: none;
      }
    }
  }
}

.my-tag {
  padding: 8px 12px;
  background-color: #6979d4;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

.beian {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  a {
    color: #6979d4;
    text-decoration: none !important;
  }
}
