.app-pages {
  background-color: #fff;
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    .fp-overflow {
      img {
        border: 1px solid #f2f2f2;
      }
    }
    .main {
      height: 90vh;
      width: 90vw;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .mask {
        position: absolute;
        z-index: 1;
        background-color: #00000020;
      }
      .desc {
        height: 40px;
        width: 180px;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4e61d4;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 12px;
        margin-bottom: 10px;
        a {
          color: #fff;
          display: flex;
          align-items: center;
        }
      }
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .app-advance {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 90vw;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #f8f8f8;
      padding: 10px;
      width: 120px;
      height: 120px;
      cursor: pointer;
      transition: 0.5s;
      opacity: .8;
      &:hover {
        transition: 0.5s;
        box-shadow: 1px 2px 3px #eee;
        opacity: 1;
      }
      span {
        font-size: 12px;
        margin-top: 8px;
      }
    }
  }
}

// 宽度 小于 500
@media (max-width: 500px) {
  .app-pages {
    .main {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  .app-advance{
    height: 80vh;
    overflow: hidden;
    &-item{
      width: 50px !important;
      height: 50px !important;
      span{
        display: none;
      }
    }
  }
}
